<header id="header" class="header" >
  <div>
    <h1 class="logo" role="banner">
      <a class="logo-link" href="{{site.url}}" rel="home"><img src="{{theme.path}}/assets/img/kbcrawl-logo.svg" alt="Logo"></a>
    </h1>
    
    {% include 'Partials/Components/_nav-main.twig' %}

    <a class="main-button" href="">Demander une démo</a>

    <form>
      <select>
        <option>FR</option>
        <option>EN</option>
      </select>
    </form>
  </div>
</header>
