<section id="blog" class="content beige">
    <h2 class="titre_grid">Le Blog</h2>
    <div class="blog_list g3">
      {% for post in posts %}
          {% include ['Partials/Article/List/_'~post.post_type~'.twig', 'Partials/List/_post.twig'] %}
      {% endfor %}
    </div>
  </section>