<section id="intel-eco" class="content g2">
    <div>
        <h2 class="titre_séparé">L’intelligence économique</h2>
        <div class="separateur"></div>
    </div>
    <div>
        <h3>Tirez le meilleur parti d’une information colossale</h3>
        <p class="intel-eco_desc1">Envie d’en savoir plus sur les opportunités qui s’offrent à vous et les menaces auxquelles vous pourrez être confronté ?</p>
        <p class="intel-eco_desc2">L’Intelligence économique vous permet d’appréhender au mieux votre environnement et d’anticiper les évolutions dans les domaines clés : marché, innovation, réglementation, digital, territoire, stratégie, etc.</p>
    </div>
        
    {% if intel_eco.background %}
        <img class="intel-eco_background" src="{{theme.path}}/assets/img/{{intel_eco.background}}" />
    {% endif %}
</section>