<section id="newsletter" class="g2 content">
    <div>
        <h2>Exploitez enfin toutes les ressources digitales</h2>
        <p>Solutions et outils de veille sur-mesure pour professionnels</p>
        <form>
            <input type="email" placeholder="Votre email" />
            <button type="submit" class="main-button">Demander une démo</button>
        </form>
    </div>
    <img src="{{theme.path}}/assets/img/illu-principale@3x.png" alt="">
</section>