<div class="separator"> 
    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10">
        <path fill="#56D2CC" fill-opacity=".5" fill-rule="nonzero" d="M2.006 0L8.5 6.214 14.994 0 17 1.91 8.5 10 0 1.91z"/>
    </svg>
</div>