////
/// Layout of the page
///
/// @group Elements
///
////

/// Text default font and color
body { 
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    color: $color-text; 
    font-family: $font; 
    font-weight: $fw-regular; 

    font-size: 1.8rem;  
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
